@import 'media.scss';
$orange :#f58734;
$blue : #3e4095;
body
{
	font-family: 'Noto Sans',Helvetica,Arial,sans-serif;
}
#navigation-bar
{
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 999;
	.navbar
	{
		background-color: rgba($orange,.7);
		color: white;
		margin-bottom :0px !important;
		border-radius: 0px;
		li
		{
			a
			{
				color: white;
			}
			&:hover
			{
				transition:1s linear all;
				background-color: $blue;
				cursor: pointer;
			}
			&.open
			{
				transition:1s all;
			}
			&.dropdown.open
			{
				transition:1s all;
				ul
				{
					opacity: 1;

				}
			}
			&.dropdown
			{
				ul
				{
					opacity: 0;
				}

				.dropdown-menu
				{
					background-color: $orange;
					li a
					{
						&:hover
						{
							background-color: $blue;
							transition:1s linear all;
						}
					}
				}
			}
			&.open>a
			{
				
					background-color: darken($blue,.7);
			}
			
		}

	}
	.navbar-header
	{
		position: absolute;
		left: calc(50% - 40px);
		top: 0px;
		@include max(990px)
			{
				position: relative;
				left: 0px;
				right: 0px;
			}
	}
	.navbar-brand
	{
		position: relative;
		z-index: 999;
		img
		{

			position: relative;
			background-color: white;
			height: 80px;
			width: 80px;
			border-radius: 50%;
			box-shadow: 0 8px 6px -6px black;
			z-index: 999;
			@include max(990px)
			{
				height: 60px;
				width: 60px;
				top: -10px;
			}
		}
		
	}
	.navbar-collapse
	{
		ul
		{
			&:nth-child(1)
			{
				width: 50%;
				padding-right: 50px;
				li
				{
					float: right;
					@include max(770px)
					{
						float: none !important;
					}
				}
				@include max(990px)
				{
					@include max(770px)
					{
						float: none !important;
					}
					width: auto;
					padding: 0px;
					float: right;
					li
					{
						width:auto;
						float: left;
					}
				}
			}
			&:nth-child(2)
			{
				width: 50%;
				padding-left: 40px;
				@include max(990px)
				{
					width: auto;
				}
			}
		}
	}
}
#slider
{
	height: 100vh;
	width: 100%;
	@include max(750px)
		{
			height: 50vh;
		}
	// overflow: hidden;
	.slick-list
	{
		height: 100%;
		.slick-track
		{
			height: 100%;
		}
	}
	.images-collection
	{
		height: 100%;
		width: 100%;
		.image-wrapper
		{
			height: 100%;
			width: 100%;
			position: relative;

			.image
			{
				height: 100%;
				width: 100%;
				img
				{
					height: 100%;
					width: 100%;
					object-fit:cover;
				}
			}
			.img-text
			{
				perspective:1000px;
				padding-left: 30px;
				position: absolute;
				top: 0px;
				left: 0px;
				height: 100%;
				width: 100%;
				display: flex;
				justify-content:flex-start;
				align-items:center;
				color: white;
			    transition:1s cubic-bezier(1, -0.5, 0, 2);
			    // overflow: hidden;
				.text-wrapper
				{
					width: 50%;
					@include max(750px)
					{
						width: 100%;
					}
					@include max(850px)
					{
						width: 70%;
					}
					// overflow: hidden;
					.text-head
					{
						transition:1s all;
						transform:rotateY(90deg);
						transform-origin:0px 0px;
						h2
						{
							font-size: 35px;
							text-shadow:0px 5px 6px black;
							font-weight: 600;
							line-height: 45px;
							@include max(750px)
							{
								font-size: 25px;
								line-height: 35px;
							}
						}
					}
					.text-detail
					{
						transition:1s all;
						transform:rotateY(90deg);
						transform-origin:0px 0px;
						h5
						{
							font-size:20px;
							line-height: 35px;
							text-shadow:0px 5px 4px black;
							@include max(750px)
							{
								font-size: 18px;
								line-height: 25px;
							}
						}
					}
				}
			}
		}
		.slick-active
		{
			.img-text
			{
				.text-head
				{
					transform:rotateY(0deg) !important;
					transform-origin:0px 0px;
				}		
				.text-detail
				{
					transform:rotateY(00deg) !important;
					transform-origin:0px 0px;
				}
			}
		}
	}
}
#coop
{
	padding: 30px 0px;
	// background: linear-gradient(to bottom right, rgba(white, 0.8), rgba(white, 0.8)), url("../images/back1.jpg");
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	.coop-wrap
	{
		padding-bottom: 15px;
		padding-top: 15px;
		background-color: rgba(white,.4);
		color: black;
		border:1px solid #f2f2f2;
		border-radius: 5px;
		box-shadow: 0px 40px 20px -30px rgba(black,.1);
	}
	.coop-head
	{
		h2
		{
			margin-top: 10px;
			font-size: 27px;
			margin-bottom: 15px;
			line-height: 35px;
			font-weight: 700;
			text-align: center;
			position: relative;
			&:after
			{
				content:'';
				position: absolute;
				bottom: -4px;
				width: 150px;
				height: 2px;
				background-color: $blue;
				left: 0px;
				margin: 0px auto;
				text-align: center;
				left: calc(50% - 75px);
				border-radius: 5px;
			}
		}

	}
	.coop-detail
	{
		margin: 15px 0px;
		h4
		{
			text-align: center;
			font-size: 20px;
			line-height: 28px;
			font-weight: 400;
			padding-left: 10px;
		}
	}
	.read-more
	{
		text-align: center;
		margin-top: 30px;
		button
		{
			background-color: $orange;
			color: white;
		}
	}
}
#about
{
	margin: 30px 0px;
	.about-image
	{
		height: 300px;
		padding-right: 0px;
		padding-left: 0px;
		.image-wrapper
		{
			height: 100%;
			img
			{
				height: 100%;
				width: 100%;
				object-fit:cover;
			}
		}
		// background-color: #cdcdcd;
	}
	.all-content
	{
		// box-shadow: 0px 0px 15px rgba(black,.1);
		border-radius: 5px;
		overflow: hidden;
	}
	.content
	{
		background:#f2f2f2; 
		background-color: white;
		height: 300px;
		margin-left: 0px;
		.about-wrapper
		{
			padding:10px 0px;
			.wrapper-head
			{
				h2
				{
					margin-top: 10px;
					font-size: 30px;
					margin-bottom: 15px;
					line-height: 35px;
					font-weight: 700;
				}
			}
			.wrapper-detail
			{
				h4
				{
					font-size: 20px;
					line-height: 25px;
					font-weight: 400;
					text-align: justify;
					border-left: 5px solid rgba($blue,.8);
					padding-left: 10px;
					padding-top: 5px;
					// border-radius: 10px;
				}
			}
		}
	}
}
#features
{
	margin: 30px 0px;
	.coop-head
	{
		// color: $orange;
		h2
		{
			margin-top: 10px;
			font-size: 27px;
			margin-bottom: 15px;
			line-height: 35px;
			font-weight: 700;
			text-align: center;
			position: relative;
			&:after
			{
				content:'';
				position: absolute;
				bottom: -4px;
				width: 150px;
				height: 2px;
				background-color: $blue;
				left: 0px;
				margin: 0px auto;
				text-align: center;
				left: calc(50% - 75px);
				border-radius: 5px;
			}
		}

	}
	.features-wrapper
	{
		padding:10px 30px;
		margin: 15px 0px;
		box-shadow: 0px 20px 13px -15px rgba(black,.2);
		border:1px solid #cdcdcd;
		border-radius: 5px;
		.features-icon
		{
			height: 80px;
			display: flex;
			width: 100%;
			justify-content:center;
			align-items:center;
			i
			{
				font-size: 60px;
				color: $blue;
			}
		}
		.features-detail-wrapper
		{
			.features-head
			{
				h3
				{
					text-align: center;
					margin-top: 15px;
					font-size: 25px;
					margin-bottom: 10px;
					line-height: 35px;
					font-weight: 700;
					color: rgba($blue,.9)
				}
			}
			.features-detail
			{
				h4
				{
					text-align: center;
					font-size: 18px;
					line-height: 25px;
					font-weight: 400;
				}
			}
		}
	}
}
#partners
{
	.coop-head
	{
		// color: $orange;
		h2
		{
			margin-top: 10px;
			font-size: 27px;
			margin-bottom: 15px;
			line-height: 35px;
			font-weight: 700;
			text-align: center;
			position: relative;
			&:after
			{
				content:'';
				position: absolute;
				bottom: -4px;
				width: 200px;
				height: 2px;
				background-color: $blue;
				left: 0px;
				margin: 0px auto;
				text-align: center;
				left: calc(50% - 100px);
				border-radius: 5px;
			}
		}

	}
	.partner-image-wrapper
	{
		margin:15px 0px;
		.partner-image
		{
			height: 150px;
			width: 150px;
			margin: 0px 15px;
			img
			{
				height: 100%;
				width: 100%;
				object-fit:cover;
			}
		}
	}
}
#footer
{
	background-color: $blue;
	color: white;

	footer
	{
		padding-bottom: 20px;
		.content-wrapper
		{
			border-right: 1px solid darken($blue,7);
			.content-head
			{
				h3
				{
					position: relative;
					line-height: 35px;
					&:after
					{
						content: '';
						position: absolute;
						bottom: 0px;
						left: 0px;
						height: 1px;
						width: 60%;
						background-color: white;
					}
				}
			}
			.content-detail
			{
				list-style-type: none;
				padding: 0px;
				li
				{
					margin: 15px 0px;
				}
			}
		}
	}
}